body{
	font-family: arial;
	margin-left: auto;
	margin-right: auto;
}
section{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
article{
	display: inline-flex;
	margin: 10px;
	box-shadow: 3px 3px 10px firebrick;
	width: 40%;
	border: 1px solid firebrick;
	margin-left: auto;
	margin-right: auto;
}

h2{
	font-size: 1em;
}
div{
	display: inline-flex;
	flex-direction: column;
	vertical-align: top;
	width: auto;

}
p{
	display: inline-flex;
	flex-direction: column;
	padding: 5px;
	width: 100%;
}

strong{
	display: block;
	width: 100%
	text-align: center;
	background-color: firebrick;
	color: lightgrey;
	padding: 3px;
	margin: 10px;
}


